body {
  background-color: #dfaeb4;
}
.intro-text {
  position: relative;
  padding-left: 1em;
  top: 10em;
  background-color: #eacbd2;
  border: 30px solid #eacbd2;
}
h2 {
  color: aliceblue;
  margin: -8px 0 0 0;
  font-size: 32px;
}

.image1 {
  background: url(../media/kratos.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 200px;
  width: 300px;
  height: 400px;
  position: absolute;
  left: 200px;
  top: -160px;
}
.image2 {
  background: url(../media/mario.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 80px;
  width: 200px;
  height: 300px;
  position: absolute;
  left: 180px;
  top: -80px;
}
.image3 {
  background: url(../media/darksouls.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center 80px;
  width: 300px;
  height: 300px;
  position: absolute;
  left: 320px;
  top: -50px;
}

.text {
  position: relative;
  top: 10em;
  color: aliceblue;
  margin-left: 2em;
  margin-right: 10em;
}

#button {
  background-color: #e76c89;
  width: fit-content;
  padding: 8px;
  cursor: pointer;
  transition: all ease-in-out 0.2s;
}

#button:hover {
  opacity: 0.8;
}
#button span:hover {
  color: antiquewhite;
}
a {
  text-decoration: none;
}
#button span {
  color: aliceblue;
}
@media (max-width: 600px) {
  h2 {
    font-size: 28px;
    width: 90%;
  }
  .image3 {
    width: 0px;
  }
  .image2 {
    width: 0px;
  }
  .image1 {
    transform: translateX(-50%);
    left: 50%;
    width: 400px;
    top: -170px;
    height: 500px;
  }
}
